/* Style the search container */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
    margin-left: 220px;
    margin-bottom: 20px;
}
h2 {
    margin-top: 200px;
    margin-bottom: 20px;
}
#add_delete_btn{
    background-color: #c83cb9;
    color: #ccc;
    font-weight: 200;
    width: 55px;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
            @include transition;
            background: white;
            border: solid 1px white;
            color: #c83cb9;
        }
}
h3{
    font-family: 'HelveticaNeue-light', 'Helvetica Neue Light', 'Helvetica Neue'
            Helvetica, Aerial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 5em;
    color: #c83cb9;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Style the search input */
.search-input {
    padding: 8px 30px;
    /* Adjust padding as needed */
    border: 1px solid #ccc;
    /* Add your preferred border styles */
    border-radius: 5px;
    /* Add your preferred border radius */
    font-size: 16px;
    /* Adjust font size as needed */
    width: 100%;
    /* Expand input to fill the container */
}

/* Style the search icon */
.fa-search {
    position: absolute;
    font-size: 25px;
    right: 10px;
    /* Adjust the icon's position as needed */
    color: #d714d0;
    /* Icon color */
    cursor: pointer;
    transition: color 0.3s ease;
    /* Add a smooth color transition on hover if desired */

    /* You can also add additional styles, like adjusting size or adding hover effects */
}

/* Add hover effect to the search icon (optional) */
.fa-search:hover {
    color: #ff007f;
    /* Change color on hover */
}